<div class="btn">
    <div class="menu" [ngClass]="toggle ? 'active' : ''">
        <div class="toggle" (click)="changeToggle()">
            <i class="ph-plus"></i>
        </div>

        <li style="--i:0;">
            <a href="#">
                <i class="ph-house-fill"></i>
            </a>
        </li>
        <li style="--i:1;">
            <a href="#">
                <i class="ph-alien-fill"></i>
            </a>
        </li>
        <li style="--i:2;">
            <a href="#">
                <i class="ph-flying-saucer-fill"></i>
            </a>
        </li>
        <li style="--i:3;">
            <a href="#">
                <i class="ph-address-book-fill"></i>
            </a>
        </li>
        <li style="--i:4;">
            <a href="#">
                <i class="ph-fire-fill"></i>
            </a>
        </li>
        <li style="--i:5;">
            <a href="#">
                <i class="ph-headset-fill"></i>
            </a>
        </li>
        <li style="--i:6;">
            <a href="#">
                <i class="ph-headset-fill"></i>
            </a>
        </li>
        <li style="--i:7;">
            <a href="#">
                <i class="ph-x-square-fill"></i>
            </a>
        </li>
    </div>
</div>
