<div class="right-menu mat-elevation-z8">
    <div class="friend" style="display: flex; align-items: center;">
        <div class="img">
            <img src="https://as2.ftcdn.net/v2/jpg/03/02/69/55/1000_F_302695542_JXlYG0yzCfpK6SjUIxbc40m6Qc9Wyj08.jpg" style="width: 50px;
            height: 50px;
            border-radius: 50%;" alt="" srcset="">
        </div>
      <div class="songs">
        <div style="display: flex;align-items: center;cursor: pointer;margin-bottom: 5px;">
            <i class="fad fa-play" style="margin-right: 10px;"></i>
            <p>A red Nigthmare</p>
        </div>
        <div style="display: flex;align-items: center;cursor: pointer;">
            <i class="fas fa-music" style="margin-right: 10px;"></i>
            <p>Devil inside</p>
        </div>
      </div>
    </div>


    <div class="friend" style="display: flex; align-items: center;">
        <div class="img">
            <img src="https://as1.ftcdn.net/v2/jpg/03/02/14/82/1000_F_302148264_Nv1eAXPBiCJpFHmoGZSlcTfKldeT7PgL.jpg" style="width: 50px;
            height: 50px;
            border-radius: 50%;" alt="" srcset="">
        </div>
      <div class="songs">
        <div style="display: flex;align-items: center;cursor: pointer;margin-bottom: 5px;">
            <i class="fad fa-play" style="margin-right: 10px;"></i>
            <p>Anarta</p>
        </div>
        <div style="display: flex;align-items: center;cursor: pointer;">
            <i class="fas fa-music" style="margin-right: 10px;"></i>
            <p>pranama</p>
        </div>
      </div>
    </div>


    <div class="friend" style="display: flex; align-items: center;">
        <div class="img">
            <img src="https://as1.ftcdn.net/v2/jpg/01/13/34/02/1000_F_113340274_qAfPiJnYT9SULOjpDkDX35GGI586hNrO.jpg" style="width: 50px;
            height: 50px;
            border-radius: 50%;" alt="" srcset="">
        </div>
      <div class="songs">
        <div style="display: flex;align-items: center;cursor: pointer;margin-bottom: 5px;">
            <i class="fad fa-play" style="margin-right: 10px;"></i>
            <p>Methademic</p>
        </div>
        <div style="display: flex;align-items: center;cursor: pointer;">
            <i class="fas fa-music" style="margin-right: 10px;"></i>
            <p>River of blood</p>
        </div>
      </div>
    </div>


    <div class="friend" style="display: flex; align-items: center;">
        <div class="img">
            <img src="https://as2.ftcdn.net/v2/jpg/01/66/38/47/1000_F_166384773_kJ4VtfBxGEKeDCHu6ffI5ZJQo2OQzEPa.jpg" style="width: 50px;
            height: 50px;
            border-radius: 50%;" alt="" srcset="">
        </div>
      <div class="songs">
        <div style="display: flex;align-items: center;cursor: pointer;margin-bottom: 5px;">
            <i class="fad fa-play" style="margin-right: 10px;"></i>
            <p>Delinquentes</p>
        </div>
        <div style="display: flex;align-items: center;cursor: pointer;">
            <i class="fas fa-music" style="margin-right: 10px;"></i>
            <p>Matança de animais</p>
        </div>
      </div>
    </div>


    <div class="friend" style="display: flex; align-items: center;">
        <div class="img">
            <img src="https://as1.ftcdn.net/v2/jpg/01/14/49/76/1000_F_114497672_7di5CFWHD5joRWd2Ulxcm4GHnlddoiDm.jpg" style="width: 50px;
            height: 50px;
            border-radius: 50%;" alt="" srcset="">
        </div>
      <div class="songs">
        <div style="display: flex;align-items: center;cursor: pointer;margin-bottom: 5px;">
            <i class="fad fa-play" style="margin-right: 10px;"></i>
            <p>Warpath</p>
        </div>
        <div style="display: flex;align-items: center;cursor: pointer;">
            <i class="fas fa-music" style="margin-right: 10px;"></i>
            <p>war world</p>
        </div>
      </div>
    </div>


    <div class="friend" style="display: flex; align-items: center;">
        <div class="img">
            <img src="https://as2.ftcdn.net/v2/jpg/01/17/48/79/1000_F_117487978_DJkBeZyfTIbyoe0bDGmg2pSj9PsVaFAe.jpg" style="width: 50px;
            height: 50px;
            border-radius: 50%;" alt="" srcset="">
        </div>
      <div class="songs">
        <div style="display: flex;align-items: center;cursor: pointer;margin-bottom: 5px;">
            <i class="fad fa-play" style="margin-right: 10px;"></i>
            <p>Sandcrusader</p>
        </div>
        <div style="display: flex;align-items: center;cursor: pointer;">
            <i class="fas fa-music" style="margin-right: 10px;"></i>
            <p>only time</p>
        </div>
      </div>
    </div>


    <div class="friend" style="display: flex; align-items: center;">
        <div class="img">
            <img src="https://as2.ftcdn.net/v2/jpg/02/43/44/93/1000_F_243449343_nreSa3w1g87KY3P6NNAHMCkKNCV3fACI.jpg" style="width: 50px;
            height: 50px;
            border-radius: 50%;" alt="" srcset="">
        </div>
      <div class="songs">
        <div style="display: flex;align-items: center;cursor: pointer;margin-bottom: 5px;">
            <i class="fad fa-play" style="margin-right: 10px;"></i>
            <p>Crashdown</p>
        </div>
        <div style="display: flex;align-items: center;cursor: pointer;">
            <i class="fas fa-music" style="margin-right: 10px;"></i>
            <p>Against the world </p>
        </div>
      </div>
    </div>
</div>
