.right-menu {
    position: absolute;
    right: 0;
    top: 47px;
    width: 13%;
    height: 58%;
    background-image: linear-gradient(to bottom, #151E3B,#151E3E, #151E3F, #253066, #E46765);
    color: #fff;
    font-size: 10px;
    margin-right: 25px;
}

.img {
    padding: 10px;
}