<h1>Listar bandas</h1>

<div class="container">
    <section class="socialMedia">
        <ul class="sci" >
            <li data-text="Facebook" #sci data-tilt data-tilt-scale="2">
                <a href="#" class="facebook">
                    <i class="fa-brands fa-facebook-f"></i>
                </a>
            </li>
            <li data-text="Youtube">
                <a href="#" class="youtube">
                    <i class="fa-brands fa-youtube"></i>
                </a>
            </li>
            <li data-text="Twitter">
                <a href="#" class="twitter">
                    <i class="fa-brands fa-twitter"></i>
                </a>
            </li>
            <li data-text="Instagram">
                <a href="#" class="instagram">
                    <i class="fa-brands fa-square-instagram"></i>
                </a>
            </li>
        </ul>
    </section>
</div>