<h1>Ultimos lançamentos</h1>
<ng-image-slider [images]="imgCollection" #nav></ng-image-slider>

<div class="card">
    <div class="card-head">Lorem ipsum - Dashboard</div>
    <div class="card-body">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident, 
        aliquid corrupti ullam quisquam aspernatur praesentium maiores. 
        Quia, deserunt laborum. Id assumenda velit maiores dicta, ab porro 
        libero earum vitae ipsa!
    </div>
</div>

<h1>Noticias do Rock</h1>
  
  <mat-form-field class="example-form-field">
    <mat-label>Clearable input</mat-label>
    <input matInput type="text" [(ngModel)]="value">
    <button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>