<h1>Ultimos lançamentos</h1>
<ng-image-slider [images]="imgCollection" #nav></ng-image-slider>

<div class="card">
    <div class="card-head">Lorem ipsum - Dashboard</div>
    <div class="card-body">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident, 
        aliquid corrupti ullam quisquam aspernatur praesentium maiores. 
        Quia, deserunt laborum. Id assumenda velit maiores dicta, ab porro 
        libero earum vitae ipsa!
    </div>
</div>

<h1>Noticias do Rock</h1>
